<%- include("partials/header.ejs") %>

<h1>About Juke</h1>

<p>A writer, blogger, and web developer who graduated from a well known University with first class</p>

<%- include("partials/footer.ejs") %>