
<%- include("partials/header.ejs") %>




<h1>CORN PLANT – CARE GUIDE</h1>
<img class="frofile" src="/Joke's Blog Project/public/images/Corn-Plants-On-Bench-Together.jpg" alt="">
<p>
    Corn plants (Dracaena fragrans) are popular low-maintenance houseplants you’ve probably seen 
    at the nursery, home improvement store, or doctor’s office. I even had one in my college dorm room! 
    You can recognize them by their spear-shaped leaves and woody, cane-line trunks that can grow up to 6 feet tall indoors. 
    But did you know there are several varieties of corn plants? We didn’t! Heck, we didn’t even realize some of our smaller 
    houseplants were in the same corn plant family!
</p>

<p>Currently, we own two smaller varieties of corn plants, pictured above. 
    The one on the left is a Dracaena Limelight (Dracaena fragrans ‘Limelight’) 
    and the taller plant is a Draecanea Dorado (Dracaena fragrans ‘Dorado’). 
    We actually have several limelights around because we love their vibrant color on shelves, tabletops, 
    and windowsills.
</p>

<h1>HOW TO CARE FOR A CORN PLANT</h1>

<h2>Light</h2>

<p>Corn plants do best in bright, indirect light. They can survive in lower light conditions but may lose some of their bright color or variegations. 
    We’ve found that ours do best near windows, but not where they will get too much direct sunlight. 
    This can cause their leaves to burn.
</p>

<h2>Water</h2>

<p>Corn plants require slightly more active watering than some of our other easy houseplants. 
    They prefer soil that is moist, but not too soggy. This means you should try to keep the top 1″ of soil damp, and add water if it has dried out. 
    Just be careful not to overwater and be sure your pot has drainage holes. 
    You can also cut back on water in the fall and winter, when the plant is not actively growing. 
    Some corn plants can be sensitive to chemicals in tap water, so consider filtered water instead.</p>

<h2>Soil</h2>

<p>Choose soil that drains well (most standard potting soil will do) and consider mixing in some perlite or vermiculite. 
    These help retain soil moisture and ensure a loose, well-draining mix. 
    Also, make sure your pot has a hole to less excess water escape so that your corn plant’s roots don’t sit in water.

</p>

<%- include("partials/footer.ejs") %>