 
<%- include("partials/header.ejs") %>





<h1 class="home">Welcome to Juke's Blog</h1><br>
<br>
<br>


<button></button>

    <img class="profile" src="/Joke's Blog Project/public/images/4108-2.jpg" alt="image">

    <p>Corn plants (Dracaena fragrans) are popular low-maintenance houseplants you’ve probably seen at the nursery, home improvement store, or doctor’s office. 
        I even had one in my college dorm room! 
        You can recognize them by their spear-shaped leaves and woody, cane-line trunks that can grow up to 6 feet tall indoors. 
        But did you know there are several varieties of corn plants? We didn’t! Heck, we didn’t even realize some of our smaller houseplants were in the same corn plant family! Currently, 
        we own two smaller varieties of corn plants, pictured above. 
        The one on the left is a Dracaena Limelight (Dracaena fragrans ‘Limelight’) and the taller plant is a Draecanea Dorado (Dracaena fragrans ‘Dorado’). We</p>

        <a href="/articles">CORN PLANT – CARE GUIDE</a>

<%- include("partials/footer.ejs") %>