<%- include("partials/header.ejs") %>
<h1>SPORTS</h1><br>
<h2>Man City 5-1 Wolves: Erling Haaland scores four as champions move to within three wins of another title:</h2><br>
<p>Report and free match highlights as Man City thrashed Wolves 5-1; Erling Haaland scored four goals - including two penalties - and Julian Alvarez added fifth; 
    Hee-Chan Hwang scored consolation for Wolves; City three wins from record fourth Premier League title in a row</p><br>
     <p>City led after just 12 minutes when Haaland converted his first of two penalties, 
        although Craig Pawson's decision to penalise Rayan Ait-Nouri for catching Josko Gvardiol was described as "harsh" by Sky Sports' 
        Jamie Carragher and "terrible" by Gary O'Neil.</p><br>
        <p>Haaland doubled his tally with a towering header from Rodri's pinpoint cross and had his hat-trick before half-time with his second penalty, 
            belatedly awarded by Pawson following a pitch-side review that showed Nelson Semedo had clearly fouled the striker.

            <p>Hee-Chan Hwang looked to have reignited the contest after Ederson's error, 
                only for Haaland to douse the flames with a brilliant fourth moments</p>
            
            
            
           </p> There was still time for Julian Alvarez to add a fifth on his 100th City appearance as the 
           champions took another step towards the title - and chipped into Arsenal's superior goal difference. </p><br>
<h1>POLITICS</h1><br>
           <h2>Lagos Governor Sanwo-Olu Appoints Daughter Of Tinubu’s Loyalist And Popular Fuji Musician, Wasiu Ayinde ‘KWAM 1’ As Aide</h2>
           <p>Basirat Damilola Marshall, daughter of veteran Fuji singer, King Wasiu Ayinde Marshall, aka KWAM1, has been appointed by Lagos State Governor, Mr Babajide Sanwo-Olu, as his Senior Special Assistant on Tourism.

           </p>
           <p>This was confirmed by Basirat in a recent post on her Instagram page in which she displayed a circular announcing her appointment with the state government.

 

            The Fuji singer is a loyalist of Nigeria’s President and former Governor of Lagos State, Bola Tinubu.</p>
           
           <p>SaharaReporters had reported how KWAM 1 lamented the current economic hardship that President Bola Tinubu’s government had subjected Nigerians to within his first eight months in office.

 

            Wasiu Ayinde was seen crying during a live performance while singing about how Tinubu's performance had disappointed Nigerians so far.</p><br>
            <h1>TECH</h1><br>
            <H2>Tech platforms make pitch for ad deals as TikTok is roiled by politics</H2>
            <P>May 3 (Reuters) - Short-form video took center stage at tech and social media companies' annual presentations to advertisers, as platforms like Snap (SNAP.N), opens new tab and Meta (META.O), opens new tab look to capitalize on TikTok's political uncertainty in the U.S. to take ad dollars from their rival.
                The presentations in New York, known as the NewFronts, come just a week after U.S. President Joe Biden signed a bill that gives Chinese tech company ByteDance up to one year to divest TikTok, or else the app will be banned over national security concerns. TikTok has vowed to fight the legislation.
                </P><br>
                <p>The short video platform announced new sports and entertainment partnerships at its NewFront on Thursday evening, including an agreement that broadcaster NBCUniversal will post clips of this summer's Paris Olympics on TikTok.
                    TikTok is expected to generate $8.66 billion in U.S. ad revenue this year according to an estimate from research firm Emarketer. While it is a fraction of the size of Google and Meta, TikTok kicked off the short-form video craze and prompted rivals to build similar features.</p>


<%- include("partials/footer.ejs") %>