<%- include("partials/header.ejs") %>
<p>
   <p>1. “You must be the change you wish to see in the world.” – Mahatma Gandhi
</p> 
<p>2. “Spread love everywhere you go. Let no one ever come to you without leaving happier.” – Mother Teresa</p>

<p>3. “The only thing we have to fear is fear itself.” – Franklin D. Roosevelt</p>

<p>4. “Darkness cannot drive out darkness; only light can do that. Hate cannot drive out hate: only love can do that.” -Martin Luther King Jr.</p>

<p>5. “Do one thing every day that scares you.” – Eleanor Roosevelt</p>

<%- include("partials/footer.ejs") %>